# Tuples

Multiple values in one object

Creating a tuple

In [10]:
tt = "Batman", "Robin"
print(tt)

('Batman', 'Robin')

Accessing a tuple item.

In [3]:
print(tt[0])

Batman

Looping through a tuple

In [4]:
for cc in tt:
    print(cc)

Batman
Robin

In [ ]:
Tuples are immutable

In [5]:
tt[1] = 'Catwoman'

TypeError: 'tuple' object does not support item assignment

## Returning Multiple Values
One use for tuples

In [1]:
def dc_heroes():
    return "Batman", "Superman", "Wonder Woman"

# Now call the function
human, Kryptonian, Amazon = dc_heroes()
print(human)
print(Kryptonian)
print(Amazon)

Batman
Superman
Wonder Woman