# Strings
Examples of Python Strings

Creating a string and referencing parts of it

In [15]:
line = 'Morpheus said, "Welcome to the desert of the real."'
print(line[45:49])
line[45:49] = "mall"

real

TypeError: 'str' object does not support item assignment

In [16]:
line = 'Morpheus said, "Welcome to the desert of the real."'
line.replace("real", "mall")

'Morpheus said, "Welcome to the desert of the mall."'

Adding strings

In [39]:
answer = 1j * (1+1j)
answer_str = "1j * (1+1j) = "+str(answer)
print(answer_str)

1j * (1+1j) = (-1+1j)

## String Methods

**str.join()**

In [23]:
instances = ["tb","dut", "myblock"]
".".join(instances)

'tb.dut.myblock'

**str.split()**

In [25]:
csv_line="Luke,Skywalker,Jedi,Tatooine"
first_name, last_name, job, homeworld = csv_line.split(",")
print(first_name, last_name, job, homeworld)

Luke Skywalker Jedi Tatooine

**str.splitlines()**

In [28]:
csv_file_str="bread,5\nmilk,3"
csv_lines=csv_file_str.splitlines()
print(csv_lines)

['bread,5', 'milk,3']

**str.strip()**

In [31]:
user_input="   run  "
print(f'"{user_input}"')
cmd = user_input.strip()
print(f'"{cmd}"')

"   run  "
"run"

**str.upper()**

In [32]:
"UpperLower".upper()

'UPPERLOWER'

## Formatted Strings
The most recent formatting tool.

In [40]:
answer = answer = 1j * (1+1j)
answer_str = f"1j * (1+1j) = {answer}"
print(answer_str)

1j * (1+1j) = (-1+1j)

Width

In [48]:
csv_line="Luke,Skywalker,Jedi,Tatooine"
first_name, last_name, job, homeworld = csv_line.split(",")
print("|First Name  |Last Name   |")
print(f"|{first_name:12}|{last_name:12}|")

|First Name  |Last Name   |
|Luke        |Skywalker   |

Bases

In [51]:
nn = 17
print(f"dec: {nn}  bin: {nn:b}  oct:{nn:o}  hex: {nn:x}")

dec: 17  bin: 10001  oct:21  hex: 11

## The __str__() Magic Method
Converting an object to a string

In [63]:
class hexint(int):
   def __str__(self):
      return f"0x{self:x}"

xx = hexint(15)
print(xx)

0xf