# Sets
Remove duplicates and other tricks

## Creating Sets

Make a set from a list of digits:

In [12]:
digit_list = [3,1,4,1,5,9,2,6]
digit_set = set(digit_list)
print(digit_set)

{1, 2, 3, 4, 5, 6, 9}

In [11]:
fs = set(1,2)
fs2 = frozenset([1,2])
print(id(fs))
print(id(fs2))
dd = {}
dd[fs] = '5'
dd[fs2] = '6'
print(dd)

TypeError: set expected at most 1 argument, got 2

In [17]:
inner_planets = {"Mercury","Venus", "Earth", "Mars"}
print(inner_planets)

{'Earth', 'Mars', 'Venus', 'Mercury'}

In [20]:
m_letters=frozenset("Mercury")
print(m_letters)

frozenset({'u', 'e', 'r', 'y', 'M', 'c'})

In [21]:
first_squares = {nn**2 for nn in range(6)}
print(first_squares)

{0, 1, 4, 9, 16, 25}

### Frozen Sets
Immutable sets

Mutable set

In [ ]:
set_table = {"knife", "fork"}
set_table.add("spoon")
print(set_table)

Immutable frozen set

In [25]:
platonic_sides=frozenset([4,6,8,12,20])
platonic_sides.add(30)

AttributeError: 'frozenset' object has no attribute 'add'

## Set Operations
From simple to complex

### Checking Set Membership

Is it there?

In [28]:
legal_ops = {"add", "and", "mul", "xor"}
print("div" in legal_ops)
print("and" in legal_ops)

False
True

Is it not there?

In [29]:
legal_ops = {"add", "and", "mul", "xor"}
print("div" not in legal_ops)

True

Disjoint?

In [31]:
boston={"Red Sox", "Bruins", "Celtics", "Patriots"}
newyork={"Yankees", "Rangers", "Knicks", "Jets"}
print(boston.isdisjoint(newyork))

True

Comparison

In [54]:
five = set(range(5)) # 0,1,2,3,4
five_odd=set(range(1,5,2)) #1,3
ten = set(range(10)) # 0,1,2,3,4,5,6,7,8,9
even = set(range(0,10,2)) # 0,2,4,6,8
print("even <= ten: ", even <= ten)
print("even <=even: ", even <= even)
print("even < even: ", even < even)
print("five >= ten: ", five >= ten)
print("ten  >= ten: ", ten >= ten )
print("ten  >  ten: ", ten > ten)
print("even == even:", even == even)

even <= ten:  True
even <=even:  True
even < even:  False
five >= ten:  False
ten  >= ten:  True
ten  >  ten:  False
even == even: True

Operations

In [70]:
todo = set(range(0,10))
even = set(range(0,10,2))
odd  = set(range(1,10,2))
div3   = set(range(0,10,3))
print("even | odd: ", even | odd )
print("even & odd: ", even & odd )
print("even & div3:", even & div3)
print("(todo - even) == odd:", (todo - even) == odd)
print("set(range(5)) ^ div3", set(range(5)) ^ div3)

even | odd:  {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
even & odd:  set()
even & div3: {0, 6}
(todo - even) == odd: True
set(range(5)) ^ div3 {1, 2, 4, 6, 9}