# Sets
Remove duplicates and other tricks

## Creating Sets

Make a set from a list of digits:

In [17]:
digits = (3,1,4,1,5,9,2,6)
digit_set = frozenset(digits)
print(f"digit_set: {digit_set}")

digit_set: frozenset({1, 2, 3, 4, 5, 6, 9})

In [3]:
inner_planets = {"Mercury","Venus", "Earth", "Mars"}
print("inner_planets:", inner_planets)

inner_planets: {'Mercury', 'Mars', 'Venus', 'Earth'}

In [1]:
first_squares = {nn**2 for nn in range(1,6)}
print(f"First five squares: {first_squares}")

First five squares: {1, 4, 9, 16, 25}

## Set Operations
From simple to complex

### Checking Set Membership

In [19]:
legal_ops = {"add", "and", "mul", "xor"}
print("div is legal:", "div" in legal_ops)
print("and is legal:", "and" in legal_ops)

div is legal: False
and is legal: True

Is it not there?

In [22]:
legal_ops = {"add", "and", "mul", "xor"}
print("You cannot div:", "div" not in legal_ops)

You cannot div: True

`isdisjoint()`

In [20]:
boston={"Red Sox", "Bruins", "Celtics", "Patriots"}
newyork={"Yankees", "Rangers", "Knicks", "Jets"}
print("There are no teams both cities support: ", boston.isdisjoint(newyork))

There are no teams both cities support:  True

`issubset()`

In [2]:
numbers = set(range(7))
odd = {xx for xx in range(7) if xx % 2 == 1}
print("numbers:", numbers)
print("odd: ", odd)
print(f"Odd numbers are subset of numbers: {odd.issubset(numbers)}")

numbers: {0, 1, 2, 3, 4, 5, 6}
odd:  {1, 3, 5}
Odd numbers are subset of numbers: True

Comparison

In [7]:
five = set(range(5)) # 0,1,2,3,4
ten = set(range(10)) # 0,1,2,3,4,5,6,7,8,9
even = set(range(0,10,2)) # 0,2,4,6,8
print("          even <= ten: ", even <= ten)
print("          even <=even: ", even <= even)
print("          even < even: ", even < even)
print("   even.issubset(ten): ", even.issubset(even))
print(" even.issuperset(ten): ",  even.issuperset(ten))
print("          five >= ten: ", five >= ten)
print("          ten  >= ten: ", ten >= ten )
print("          ten  >  ten: ", ten > ten)
print("         even == even: ", even == even)

          even <= ten:  True
          even <=even:  True
          even < even:  False
   even.issubset(ten):  True
 even.issuperset(ten):  False
          five >= ten:  False
          ten  >= ten:  True
          ten  >  ten:  False
         even == even:  True

Operations

In [5]:
toute = set(range(10))
four = set(range(4))
even = set(range(0,10,2))
odd  = set(range(1,10,2))
div3 = set(range(0,10,3))
print("             even | odd: ", even | odd )
print("             even & odd: ", even & odd )
print("            even & div3: ", even & div3)
print("   (toute - even) == odd: ", (toute - even) == odd)
print("            toute ^ four: ", toute ^ four)

             even | odd:  {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
             even & odd:  set()
            even & div3:  {0, 6}
   (toute - even) == odd:  True
            toute ^ four:  {4, 5, 6, 7, 8, 9}

Methods

In [3]:
toute = set(range(10))
four  = set(range(4))
even  = set(range(0,10,2))
odd   = set(range(1,10,2))
div3  = set(range(0,10,3))
print("        even.union(odd): ", even.union(odd))
print(" even.intersection(odd): ", even.intersection(odd))
print("even.intersection(div3): ", even.intersection(div3))
print("  toute.difference(even): ", toute.difference(even))
print("toute.symmetric_difference(four):", toute.symmetric_difference(four))

        even.union(odd):  {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
 even.intersection(odd):  set()
even.intersection(div3):  {0, 6}
  toute.difference(even):  {1, 3, 5, 7, 9}
toute.symmetric_difference(four): {4, 5, 6, 7, 8, 9}

## Removing Duplicates From a List

In [8]:
birds_seen_1 = ["Robin", "Eagle", "Blue Jay"]
birds_seen_2 = ["Sparrow", "Eagle", "Crow"]
all_birds_seen = birds_seen_1 + birds_seen_2
print("Birds reported   : ", all_birds_seen)

# Convert to set and back to remove duplicates
all_birds_seen = list(set(all_birds_seen))
print("Unique birds seen: ", all_birds_seen)

Birds reported   :  ['Robin', 'Eagle', 'Blue Jay', 'Sparrow', 'Eagle', 'Crow']
Unique birds seen:  ['Sparrow', 'Robin', 'Eagle', 'Crow', 'Blue Jay']